&__item{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
&__text{
  width: 100%;
  transition: color .3s;
  &:hover{
    background: #c1c1c1;
  }
  &--complete{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.2) !important;
    transition: color .3s;
  }
}
