<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="../src//favicon.ico">
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
